@using CleanArcProject.Domain.Models;
@model IEnumerable<Categories>
@{
    ViewData["Title"] = "Index";
    int counter = 1;
}

<h1>Index</h1>

<table class="table table-bordered table-dark">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@counter</td>
                <td>@item.Name</td>
                <td>@item.Description</td>
            </tr>
                counter++;

        }
    </tbody>
</table>